.hourly-weather-heading {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #f9a236;
  padding-bottom: 15px;
}

.hourly-weather-forecast {
  overflow: overlay;
  width: 100%;
  display: flex;
}


