.forecast-wrapper {
    display: flex;
    flex-wrap: wrap;

    .daily-weather-icon {
        flex-grow: 1;
        width: 20%;
        max-width: 230px;
        min-height: 300px;
    }

    .daily-weather-description {
        font-size: 1.5rem;
        flex-grow: 1;
        width: 20%;
        max-width: 230px;
        min-height: 300px;
    }

    .hourly-weather {
        flex-grow: 1;
        width: 80%;
        min-height: 300px;
        max-width: 1040px;
    }

    .weekly-weather {
        flex-grow: 1;
        max-width: 1040px;
        width: 80%;
        min-height: 300px;
    }

}
