.forecast-wrapper {
    display: flex;
    flex-wrap: wrap;

    .daily-weather-icon {
        flex-grow: 1;
        width: 20%;
        max-width: 230px;
        min-height: 300px;
    }

    .daily-weather-description {
        font-size: 1.5rem;
        flex-grow: 1;
        width: 20%;
        max-width: 230px;
        min-height: 300px;
    }

    .hourly-weather {
        flex-grow: 1;
        width: 80%;
        min-height: 300px;
        max-width: 1040px;
    }

    .weekly-weather {
        flex-grow: 1;
        max-width: 1040px;
        width: 80%;
        min-height: 300px;
    }

}


@media screen and (max-width: 1100px) {
  .forecast-wrapper {
    display: flex;

    .selected-day-weather {
      display: flex;
      width: 80%;
      gap: 12%;
      margin: 0 auto;

      .daily-weather-icon {
        flex-grow: 1;
        width: 50%;
      }

      .daily-weather-description {
        max-width: 100%;
        flex-grow: 1;
        width: 50%;
      }
    }
      .hourly-weather {
        flex-grow: 2;
        width: 100%;
      }

      .weekly-weather {
        flex-grow: 2;
        width: 100%;
      }
  }
}
