.weekly-weather-heading {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #f9a236;
    padding-bottom: 15px;
}

.weekly-weather-forecast {
    width: 100%;
    display: flex;

}


